datasets/CDI/raw/
datasets/CDI/misc/


datasets/FRANZOSA/*.pdf

datasets/WANG/*.pdf

datasets/HE/*.pdf
datasets/SEMISYN/old/
datasets/SEMISYN/processed/*.pdf
datasets/SEMISYN/processed_*
datasets/IBMDB/*.pdf
datasets/IBMDB/Metabolomics/*.csv
datasets/KIM
datasets/Safari
datasets/SINHA
datasets/vaginal*
datasets/YACHIDA
m2m/
map4/
notebooks/
ete/
Meetings_*
mditre_metabolites/logs
easy_metaphlan*
utilities/cnames_edited.txt
utilities/idv_names.txt
utilities/mpa_*
utilities/fix_map4_nas.py
utilities/investigate_tree.py
datasets/SEMISYN/old/
datasets/SEMISYN_EASY/
datasets/SEMISYN/processed_june4/
**/__pycache__/
*/FINAL_LOGS/