
    body {
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
    color: black;
    background-color: white;
    margin: 20px;
    padding: 0;
}

p {
    line-height: 21px;
}

h1 {
    color: #000;
    background-color: white;
    font-size: 3em;
    margin: 0;
    margin-bottom: 7px;
    padding: 4px;
    font-style: normal;
    text-align: center;
    letter-spacing: 0em;
    border-bottom-style: solid;
    border-bottom-width: 0.5em;
    border-bottom-color: #c00;
}
h2 {
    color: #000;
    background-color: white;
    font-size: 2em;
    margin: 0;
    margin-bottom: 7px;
    padding: 4px;
    font-style: normal;
    text-align: left;
    letter-spacing: 0em;
}
h3 {
    color: #000;
    background-color: white;
    font-size: 2em;
    margin: 0;
    margin-bottom: 7px;
    padding: 4px;
    font-style: italic;
    text-align: center;
    letter-spacing: 0em;
}
img {
    display: flex;  
    max-width: none
    height: auto; /* Preserve image aspect ratio */
}
img.bordered {
    border-style: solid;
    border-width: 2px;
    border-color: #ccc;
    overflow-x: scroll;
    # overflow-y: scroll;
}

.img.tree{
    max-width: none
    height: auto; /* Preserve image aspect ratio */
    overflow-x: scroll;
    overflow-y: scroll;
}

li {
    color: #000000;
}
.row {
    display: flex;
    justify-content: left;
    margin-bottom: 20px;
    flex-direction:row
    flex-wrap:nowrap
    overflow-x:scroll
}

.container {
    flex-direction: row;
    flex-wrap: nowrap; /* Prevent wrapping of columns */
    # overflow-x: scroll; /* Horizontal scrolling for the columns container */
}
.container-left {
    width: fit-content;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap; /* Prevent wrapping of columns */
    # overflow-x: auto; /* Horizontal scrolling for the columns container */
}
.column {
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap; /* Prevent wrapping of columns */
    # overflow-x: scroll; /* Horizontal scrolling for the columns container */
}

.image-group {
    display: flex;
    # overflow-x: scroll;
    flex-wrap: nowrap
}

    